#desh{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}

body{
    background-color: lemonchiffon;
}
.country{
    border:1px solid goldenrod;
    border-radius: 20px;
    padding:20px;
    text-align: center;
    width:400px;
}
.country-name{
    font:30px;
    color:hotpink;
}
#countryDiv img{
    width: 200px;
}